# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
dist/
build/
out/

# Dependency directories
jspm_packages/

# Coverage reports
coverage/

# Env files (keep secrets out of git!)
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp

# Others
*.tgz
